services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Persistence Adapters
    Makraz\Bundle\VerifyEmailChange\Persistence\Doctrine\DoctrineEmailChangeRequestRepository: ~

    # Default alias (can be overridden by persistence config in the extension)
    Makraz\Bundle\VerifyEmailChange\Persistence\EmailChangeRequestRepositoryInterface:
        alias: Makraz\Bundle\VerifyEmailChange\Persistence\Doctrine\DoctrineEmailChangeRequestRepository

    # API Response Factory
    Makraz\Bundle\VerifyEmailChange\Api\EmailChangeResponseFactory: ~

    # Token Generator
    Makraz\Bundle\VerifyEmailChange\Generator\EmailChangeTokenGenerator: ~

    # Main Helper Service
    Makraz\Bundle\VerifyEmailChange\EmailChange\EmailChangeHelper:
        arguments:
            $requestLifetime: '%verify_email_change.lifetime%'
            $maxAttempts: '%verify_email_change.max_attempts%'
            $requireOldEmailConfirmation: '%verify_email_change.require_old_email_confirmation%'

    # Twig Extension
    Makraz\Bundle\VerifyEmailChange\Twig\EmailChangeExtension:
        tags:
            - { name: 'twig.extension' }

    # Make Command
    Makraz\Bundle\VerifyEmailChange\Command\MakeChangeEmailFormCommand:
        arguments:
            $projectDir: '%kernel.project_dir%'
        tags:
            - { name: 'console.command' }

    # Purge Expired Command
    Makraz\Bundle\VerifyEmailChange\Command\PurgeExpiredEmailChangeRequestsCommand:
        tags:
            - { name: 'console.command' }
