services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Repository (Doctrine is the default adapter)
    Makraz\Bundle\VerifyEmailChange\Persistence\Doctrine\DoctrineEmailChangeRequestRepository: ~

    Makraz\Bundle\VerifyEmailChange\Persistence\EmailChangeRequestRepositoryInterface:
        alias: Makraz\Bundle\VerifyEmailChange\Persistence\Doctrine\DoctrineEmailChangeRequestRepository

    # Backward compatibility alias (deprecated)
    Makraz\Bundle\VerifyEmailChange\Persistence\EmailChangeRequestRepository:
        alias: Makraz\Bundle\VerifyEmailChange\Persistence\Doctrine\DoctrineEmailChangeRequestRepository
        deprecated:
            package: 'makraz/verify-email-change-bundle'
            version: '1.4'
            message: 'The "%alias_id%" service is deprecated. Use "Makraz\Bundle\VerifyEmailChange\Persistence\Doctrine\DoctrineEmailChangeRequestRepository" instead.'

    # Token Generator
    Makraz\Bundle\VerifyEmailChange\Generator\EmailChangeTokenGenerator: ~

    # Main Helper Service
    Makraz\Bundle\VerifyEmailChange\EmailChange\EmailChangeHelper:
        arguments:
            $requestLifetime: '%verify_email_change.lifetime%'
            $maxAttempts: '%verify_email_change.max_attempts%'
            $requireOldEmailConfirmation: '%verify_email_change.require_old_email_confirmation%'

    # Twig Extension
    Makraz\Bundle\VerifyEmailChange\Twig\EmailChangeExtension:
        tags:
            - { name: 'twig.extension' }

    # Make Command
    Makraz\Bundle\VerifyEmailChange\Command\MakeChangeEmailFormCommand:
        arguments:
            $projectDir: '%kernel.project_dir%'
        tags:
            - { name: 'console.command' }

    # Purge Expired Command
    Makraz\Bundle\VerifyEmailChange\Command\PurgeExpiredEmailChangeRequestsCommand:
        tags:
            - { name: 'console.command' }
